@import "./variables.css";

.button {
    background    : var(--amarelo);
    border        : 1px solid;
    border-radius : 5px;
    flex-direction: row;
    font-family   : var(--montserrat);
    margin        : 0.2rem;
    text-align    : center;
}

.button:hover {
    cursor          : pointer;
    background      : var(--verde-escuro);
    transition-delay: 0.2s;
}

@media screen and (min-width: 320px) {
    .button {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1440px) {
    .button {
        font-size: 1.4rem;
    }
}