@import "./variables.css";

.button {
    background    : var(--amarelo);
    border        : 1px solid;
    border-radius : 5px;
    flex-direction: row;
    font-size     : 1rem;
    margin        : 0.2rem;
    text-align    : center;
    font-family   : var(--montserrat);
}

.button:hover {
    cursor          : pointer;
    transition-delay: 0.2s;
    background      : var(--verde-escuro);
}
