@import "./variables.css";


.container__container-card {
    display         : flex;
    flex-direction  : column;
    background-color: var(--roxo);
}

.container-card {
    display           : flex;
    flex-wrap         : wrap;
    font-family       : var(--montserrat);
    justify-content   : center;
    /* padding        : 0.5 1rem 1rem 1rem; */
}

.container-card__card {
    border: 5px solid var(--azul);
    cursor: pointer;
    margin: 0.5rem;
}

.container-card__card:hover,
.container-card__image:hover {
    border-color: var(--verde-escuro);
}

.container-card__image {
    padding: 0.3rem;
}

.container-card__list {
    font-size     : 1.2rem;
    padding-bottom: 0.5rem;
    padding-top   : 0.5rem;
    text-align    : center;
}

.container-card__button {
    margin-bottom: 0.5rem;
    text-align   : center;
}

.button-details {
    margin: 0;
    width : 95%;
}



@media screen and (min-width: 320px) {
    .button-pages {
        height: 50px;
        width : 8rem;
    }

}

@media screen and (min-width: 768px) {
    .button-pages {
        height: 40px;
        width : 10rem;
    }

}

@media screen and (min-width: 1440px) {
    .button-pages {
        height: 50px;
        width : 13rem;
    }
}