@import "./variables.css";


.container__container-card {
    display         : flex;
    flex-direction  : column;
    background-color: var(--roxo);
}

.container-card {
    display        : flex;
    flex-wrap      : wrap;
    font-family    : var(--montserrat);
    justify-content: center;
    padding        : 1rem;
}

.container-card__card {
    border: 5px solid var(--azul);
    cursor: pointer;
    margin: 0.5rem;
}

.container-card__card:hover,
.container-card__image:hover {
    border-color: var(--verde-escuro);
}

.container-card__image {
    padding: 0.3rem;
}

.container-card__list {
    padding-bottom: 0.2rem;
    padding-top   : 0.2rem;
    text-align    : center;
}

.container-card__button {
    text-align   : center;
    margin-bottom: 0.5rem;
}

.button-details {
    margin: 0;
    width: 95%;
}

.button-pages {
    width: 20%;
    height: 30px;
}