@import "../css/variables.css";


.header {
    align-items     : center;
    background-color: var(--verde-escuro);
    display         : flex;
    justify-content : space-between;
    padding         : 0.5rem 2rem 0.5rem 2rem;
    font-family     : var(--montserrat);
}

.logo {
    flex-direction: row;
    width         : 180px;
}

.search {
    flex-direction: row;
}

.menu {
    flex-direction: row;
}

.menu__list {
    display: flex;
}

.menu__list__items {
    flex-direction: row;
    font-weight   : bold;
    margin-right  : 0;
    padding       : 0 1rem;
    text-transform: uppercase;
}

.menu__list__items:hover {
    border-bottom  : 2px solid var(--verde);
    cursor         : pointer;
    text-decoration: none;
}