@import "./variables.css";

.container {
    background: var(--roxo);
    height    : 100vh;
    width     : 100%;
}

.title {
    font-family   : var(--montserrat);
    font-size     : 2.5rem;
    font-weight   : bold;
    text-align    : center;
    padding-bottom: 2.5rem;
    padding-top   : 1rem;
}

.container__card {
    text-align: center;
}

.container__button {
    display        : flex;
    justify-content: center;
    margin         : 0.3rem;
    text-align     : center;
}