@import "./variables.css";

.container {
    background: var(--roxo);
    height    : 100vh;
    width     : 100%;
}

.title {
    font-family   : var(--montserrat);
    font-weight   : bold;
    text-align    : center;
    padding-bottom: 2.5rem;
    padding-top   : 1rem;
}

.container__card {
    text-align: center;
}

.container__button {
    display        : flex;
    justify-content: center;
    margin         : 0.3rem;
    text-align     : center;
}



@media screen and (min-width: 320px) {
    .title {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 2.7rem;
    }
}