@import "./variables.css";

.modal {
    align-items     : center;
    background-color: var(--preto);
    display         : flex;
    height          : 100%;
    justify-content : center;
    left            : 0;
    position        : absolute;
    top             : auto;
    width           : 100%;
    // z-index         : 10;

    .modal__container {
        background-color: var(--roxo);
        border-radius   : 20px;
        color           : var(--preto);
        height          : 80%;
        width           : 80%;

        .modal__button {
            align-items     : center;
            background-color: transparent;
            border          : none;
            cursor          : pointer;
            display         : flex;
            height          : 32px;
            outline         : none;
            position        : relative;
            right           : calc(-100% + 64px);
            top             : 16px;
            width           : 32px;

            &:before,
            &:after {
                background-color: var(--preto);
                content         : '';
                height          : 24px;
                position        : absolute;
                width           : 2.5px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

}

.title__modal {
    font-family   : var(--montserrat);
    font-size     : 1.5rem;
    font-weight   : bold;
    text-align    : center;
    padding-bottom: 1.5rem;
    padding-top   : 0.8rem;
}

@media screen and (min-width: 320px) {
    
}